#footer {
    @include dark-blue-gradient-reversed;
    box-sizing: border-box;
    font-family: $main-font;
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    height: 90px;
    // position: absolute;
    // bottom: 0;
    .mainLogo img {
        width: 130px;
        height: auto;
    }
    li {
        list-style: none
    }
}

.backToTop {
    @include purple-pink-gradient;
    padding: 20px;
    height: 90px;
    border: none;
    cursor: pointer;
    a {
        color: white;
        text-decoration: none!important;
    }
}

.copywrite {
    font-size: 16px;
}