.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include purple-pink-gradient;
    color: white;
    font-family: $main-font;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    height: 50vh;
    border-radius: 100px;
    .text {
        max-width: 60%;
        line-height: 25px;
    }
    input {
        border-radius: 30px;
        padding: 20px;
        margin: 10px;
        border: 2px solid $accent-blue;
        &:focus {
            outline: none;
        }
    }
}

.btn {
    display: flex;
    margin: 20px auto;
    padding: 10px;
    width: 100px;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: $accent-blue;
        color: white;
        transition: all .25s ease-in;
    }
}