.heroMenu {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    .usersSection {
        display: flex;
        justify-content: space-around;
    }
}

.mediaMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    .mediaOption {
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .optionTitle {
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}

.bigTitle {
    font-family: $title-font;
    font-size: 60px;
    align-self: center;
}