// website color variables:
$main-background:#1E2434;
$main-purple: #452286;
$main-pink: #F1379A;
$accent-green: #00CCB2;
$accent-orange: #FF8700;
$accent-blue: #2F448A;
//website font variables:
$title-font: 'Glasoor',
Arial,
Helvetica,
sans-serif;
$main-font: Montserrat,
Arial,
Helvetica,
sans-serif;