    {{!-- <section class="home-hero">
        render the dynamic data here
        <h1> message </h1>

        render a thumbnail per movie 
        <section class="allMovies">
        <moviethumb v-for="item in allMovies" :movie="item" :key="item.movies_id"></moviethumb>
        </section>
    </section> --}}

    <header-component></header-component>        
    <router-view></router-view>
    <footer-component></footer-component>
