<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Roku Streaming Service</title>
</head>
<body>
    <main id="app">
    <h1>Using Handlebars is Easy!</h1>
    <h3>What follows is dynamic, server-side rended content:</h3>
    <!-- this is where handlebars will inject its templates -->
    {{!-- it's like a php include statement --}}
    {{{ body }}}

    </main>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>