	{{!-- <footer id="footer">
		<p class="copy">
			&copy; 2021 Roku Flashback, Inc
		</p>

		<ul class="float-right">
			<li><i class="fab fa-facebook"></i></li>
			<li><i class="fab fa-twitter-square"></i></li>
			<li><i class="fab fa-google-plus-square"></i></li>
			<li><i class="fab fa-instagram"></i></li>
		</ul>
	</footer> --}}
	<footer-component></footer-component>